<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RowingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-2thread] %-5level - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RowingMonitor.Properties.Settings>
      <setting name="Template" serializeAs="String">
        <value>-0.2975853,-0.2042504,-0.155101,-0.1192965,-0.07102258,-0.01225698,0.04263343,0.09506955,0.212961,0.3227854,0.4005949,0.4842655,0.5480029,0.6140994,0.6775281,0.864189,0.9901069,1.061857,1.101033,1.080527,1.080753,1.046898,1.013551,0.9809682,0.9177071,0.888526,0.8497285,0.7982491,0.7981368,0.7722788,0.7473091,0.6822425,0.606694,0.572104,0.5203418,0.4954889,0.4527771,0.3436244,0.2572533,0.1368963,0.03032687,-0.04209379,-0.08547286,-0.1280674,-0.1517017,-0.1770424,-0.2377988,-0.2461435,-0.2595812,-0.2688748</value>
      </setting>
      <setting name="FootSpineBaseOffset" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="MinSegmentTime" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="PeakDetectionWindow" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DTWStartMinimumPosition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DTWStartMaximumPosition" serializeAs="String">
        <value>1</value>
      </setting>
    </RowingMonitor.Properties.Settings>
  </userSettings>
</configuration>